css
body {
background: violet;
font-family: sans-serif;
text-align: center;
}
.container {
margin-top: 50px;
background-color: violet;

}
h1 {
margin-bottom: 20px;
}

p {
margin-bottom: 10px;
}

.image container {
margin-bottom: 20px;
}

img {
max-width: 500px;
height: auto;
}